/* 公用css样式 */
*{margin:0;padding:0;}
body{
	font-size: 62.5%;
	margin:0 auto;padding:0;font-family:"Microsoft YaHei","Arial","\9ED1\4F53","\5B8B\4F53",sans-serif;}

/* 清除浮动------终极清除浮动 */
.clearfix:after {
    content:"\200B";
    display:block;
    height:0;
    clear:both;
}
.clearfix {*zoom:1;}
